* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  overflow: scroll;
  overflow-x: hidden;
}

::-webkit-scrollbar {
  width: 0;
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: #ffffff;
}

body {
  position: relative;
  color: var(--font-color);
  height: var(--website-height);
  width: var(--website-width);
  font-size: 18px;
  box-sizing: border-box;
  background: var(--background-color);
}

:root {
  --website-height: 100%;
  --website-width: 100vw;
  --background-color: #0a0a0a;
  --font-color: #ffffff;
  --card-border-color: #ffffff38;
  --card-link-bg-color: #ffffff28;
  --card-link-bg-color-hover: #e6e6e654;
  --card-link-bg-color-active: #37c6ff91;
  --card-link-text-color: #f0f0f0;
  --card-link-text-color-hover: #ffffff;
  --menu-height: 8vh;
  --menu-width: 100vw;
  --menu-background-color: #0a0a0a09;
  --menu-icon-background-color: var(--background-color);
  --menu-icon-fill-color: #dfdfdf;
  --menu-icon-fill-color-hover: #ffffff;
  --menu-icon-fill-color-active: #37c6ff;
  --menu-icon-border: 0.1rem solid #727272;
  --menu-icon-border-hover: 0.1rem solid #adadad;
  --menu-icon-border-active: #37c6ff;
  --skilltree-skill-color: #ffffff;
  --skilltree-icon-color:#37c6ff;
  --job-title-background: #ffffff13;
  --job-border-color: #37c6ff;
  --job-point-color: #60d2ff;
  --job-point-diameter: .6rem;
  --blog-post-title-background:#ffffff28;
  --blog-post-color-hover: #60d2ff;
  --blog-post-title-border: #ffffff;
  --blog-post-color: #dbdbdb;
  --blog-post-info-color: #60d2ff;
  --post-body-text-size: .9rem;
  --post-text-highlight-color: #60d2ff;
  --post-text-example-background:#6d6c6c49;
  --project-image-border: .1rem solid #ffffff38;
  --project-boder: .1rem solid #b8b8b8;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-size: 1.6rem;
  --p-color: #c2c2c2;
}

h1, h2, h3 {
  font-family: "Electrolize", sans-serif;
  color: var(--font-color);
}

h1 {
  font-size: 3.5rem;
}

h2 {
  font-size: 1.5rem;
  word-wrap: break-word;
  text-align: center;
}

h3 {
  font-size: 1rem;
  text-align: center;
}

p {
  color: var(--p-color);
}

.page {
  background: var(--background-color);
  width: 100vw;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.page__container {
  position: relative;
  width: 75%;
  height: auto;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: var(--menu-height);
}

.post {
  position: relative;
}

.post__title {
  background-color: var(--blog-post-title-background);
  color: var(--blog-post-color);
  font-size: 1.3rem;

  cursor: pointer;
  transition: linear 0.2s ease;
}

.post__title:hover {
  color: var(--blog-post-color-hover);
}

.post__body {
  display: none;
}

.post__body--visible {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 90%;
  margin: 0 auto;
  animation: fadeIn 0.5s;
}

.post__title--active {
  color: var(--blog-post-color-hover);
  border-bottom: 0.1rem solid var(--blog-post-title-border);
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.post__body__info {
  color: var(--blog-post-info-color);
  margin: 0.5rem 0;
  text-align: center;
}

.post__body__titleblock {
  border-bottom: .1rem solid var(--blog-post-title-border);
  margin-bottom: .5rem;
}

.post__body__text {
  text-indent: 2rem;
}

.post__body__text, .post__body__text--example {
  font-size: var(--post-body-text-size);
  text-align: left;
}

.post__body__text--example {
  text-align: center;
  background-color: var(--post-text-example-background);
}

.post__body__text__highlight {
  color: var(--post-text-highlight-color);
}
