* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* .potential-color-schemes {
    Jet black: #0a0a0a,
    Sky blue: #73D7FF,
    Azure: #37C6FF,
    Orange: #FF781F

    background gradient to use when canvas is created //TODO
    background: radial-gradient(circle at 10% 20%, rgb(0, 0, 0) 0%, rgb(64, 64, 64) 90.2%);
} */

html {
  scroll-behavior: smooth;
}

body {
  color: var(--font-color);
  height: var(--website-height);
  width: var(--website-width);
  box-sizing: border-box;
  background: linear-gradient(180deg, rgb(0, 0, 0) 50%, rgb(64, 64, 64) 100%);
}

:root {
  --website-height: 100vh;
  --website-width: 100vw;
  --background-color: #0a0a0a;
  --font-color: #ffffff;
  --page-width: 75vw;
  --page-height: 90vh;
  --card-border-color: #ffffff38;
  --card-link-bg-color: #ffffff38;
  --card-link-bg-color-hover: #e6e6e654;
  --card-link-bg-color-active: #37c6ff91;
  --card-link-text-color: #f0f0f0;
  --card-link-text-color-hover: #ffffff;
  --menu-icon-background-color: var(--background-color);
  --menu-icon-fill-color: #dfdfdf;
  --menu-icon-fill-color-hover: #ffffff;
  --menu-icon-fill-color-active: #37C6FF;
  --menu-icon-border: 2px solid #727272;
  --menu-icon-border-hover: 2px solid #adadad;
  --menu-icon-border-active: #37C6FF;
  --skilltree-skill-color: #dfdfdf;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-size: 1.5rem;
}

h1, h2 {
  font-family: "Electrolize", sans-serif;
  color: var(--font-color);
  font-size: 4rem;
}

h2 {
  font-size: 1.5rem;
  word-wrap: break-word;
}

.page {
  position: absolute;
  width: 100vw;
  height: 100vh;
  background: var(--background-color);
  z-index: 1;
}

.page__container, .page--container {
  top: 10vh;
  text-align: center;
  position: relative;
  width: var(--page-width);
  margin: 0 auto;
  height: var(--page-height);
  border: 2px solid transparent;
}


